/*Common styles*/

:root {
    --text-usual: 'Montserrat', sans-serif;
    --text-unusual: 'Dancing Script', cursive;
    --color-white: #ffffff;
    --color-black: #222f3e;
    --color-yellow: #feca57;
    --color-grey: #576574;
}


/*Global*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: var(--color-black);
}

section {
    padding: 60px 0;
}


/*Navigation*/

.navigation {
    padding: 0 auto;
    margin: 0 auto;
    background-image: url("https://images.pexels.com/photos/301703/pexels-photo-301703.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-color: transparent;
    background-position: center top;
    background-size: cover;
}

.navigation ul {
    padding: 0 auto;
    margin: 0 auto;
    list-style-type: none;
    font-family: var(--text-usual);
    color: var(--color-white);
}

.navigation li {
    display: inline-block;
    position: relative;
}

.navigation p {
    color: var(--color-yellow);
    font-family: var(--text-unusual);
    font-size: 50px;
    text-align: center;
}

.first-line {
    font-family: var(--text-unusual);
    color: var(--color-white);
    font-size: 48px;
    text-align: center;
}

.second-line {
    font-family: var(--text-usual);
    color: var(--color-white);
    font-size: 50px;
    text-align: center;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: var(--text-usual);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    color: var(--color-white);
    background: var(--color-yellow);
}


/*Services*/

.section-title {
    color: var(--color-black);
    text-align: center;
    font-size: 48px;
    font-family: var(--text-usual);
    margin: 0 auto;
}

.section-subtitle {
    color: var(--color-grey);
    text-align: center;
    font-size: 16px;
    font-family: var(--text-unusual);
    margin: 0 auto;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box1,
.box2,
.box3 {
    flex: 0 0 33.333%;
    position: relative;
}

.boxes i {
    color: var(--color-yellow);
}

.box-title {
    text-align: center;
    font-family: var(--text-usual);
    font-size: 20px;
}

.boxes p {
    font-family: var(--text-usual);
    color: var(--color-grey);
    font-size: 12px;
}